clash
joshuto
alacritty
atuin
btop
cava
dotfiles_demo
github-copilot
joshuto
leetcode-cn-en-cli
lf
sketchybar.bk
sketchybar_backup
skhd
spicetify
spotify-player
spotui
zshmux
test.sh
test.sh
tmuxp
kitty/themes
kitty/kitty-themes
kitty/kitty
nvchard/nvim
tmux/plugins
